body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgb(234, 207, 207);


}
h1 {
    font-family: 'Rubik Microbe', cursive;
    color: rgb(255, 255, 255);
   background-color: maroon;
}

ul {
    list-style-type: square;
  }

  .myDiv {
    border: 5px outset rgb(0, 0, 0);
    background-color: rgb(229, 183, 177);    
    text-align: center;
  }
  .Unitedstates {
      border: 5px outset rgb(0, 0, 0);
      background-color: rgb(229, 183, 177);    
      text-align: center;
  }
  .imgdiv {
      text-align: center;
      height: 100%;
      width: 100%;
  }
  .rankingdiv { 
    border: 5px outset rgb(0, 0, 0);
    background-color: rgb(229, 183, 177);    
    text-align: center;
  }

  .twitter {
      float: right;
  }

  .ranktitle {
font-weight: bold;
  }